body{
	background-image:  url(ggg.png)  ;
	background-size: cover;
	
}
button{
	width: 200px;
	color:red;
    font-size: 18px;
    padding:10px;
}
p{
	font-size: 20px;

}
#other{
	width: 812px;
	font-size: 22px;
}
label{
	display:block;
	
	width:150px;
    text-align:left;
   padding:0 50px 0 0
   vertical-align: top;
	
}
#choose{
	width: 200px;
	margin-left:350px;
	margin-right:750px;
	font-size: 20px;
	color:red;
	padding: 10px;
}
#choose:hover{

    font-weight: bold;
    background-color: white;
    
    border-radius: 10px;
}
input{
	border-radius: 10px;
	width: 249px;
	}
#slt{
	border-radius: 10px;
}
#start{
	font-size: 24px;
	width: 249px;
	margin-left:500px;
	margin-right:500px;
}

#start:hover{

    color: green;
    font-weight: bold;
    background-color: white;
    
    border-radius: 10px;

}
#section3 {
	
	padding:50px;
}
#pieceContainer {
	width:80%;
	height:80%;
	/*border: 5px solid red;*/
	color:blue;
	display: flex;
	margin-right:auto;
	margin-left:auto;
	margin-top:50px;
	padding:50px;
}
#piece {
	width:30%;
	height:20%;
	padding:30px;
	background-color:green;
	display: inline block;
	border: 2px solid yellow;
	margin-left: auto;
}
.rectangle {
	width:50px;
	height:90px;
	display: inline-block;
	border: 2px solid yellow;
	
}
#piece1 {

	background-color:green;
	margin-left: 80px;
}
.cylinder {
	width:60px;
	height:60px;
	display: inline-block;
	border: 2px solid yellow;
	border-radius: 50%
	
}
#traction {
	width:80%;
	height:50%;
	/*border: 5px solid red;
	color:blue;
	/*display: flex;*/
	margin-right:auto;
	margin-left:auto;
	margin-top:50px;
	/*border: 2px dashed purple;*/
	overflow: auto;
	
}
#image1 {
	width:200px;
	height:auto;
	float:right;
}
#flexion{
	width:500px;
	height:500px;
}
#test4{
	margin-left:200px;
}
#test4:hover{

    font-weight: bold;
    background-color: white;
    
    border-radius: 10px;
}
#trac{}
#trac:hover{font-weight: bold;
    background-color: white;
    
    border-radius: 10px;}
#flex{}
#flex:hover{font-weight: bold;
    background-color: white;
    
    border-radius: 10px;}
#tor{}
#tor:hover{font-weight: bold;
    background-color: white;
    
    border-radius: 10px;}